{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load templatefollow %}

{% block title %}{% endblock %}

{% block content %}
  <div class="page-wrapper">
    <!--page-content-wrapper-->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item"><a href="{% url "home:home" %}"><i class="bx bx-home-alt"></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Follow Up Statistics</li>
                        </ol>
                    </nav>
                </div>
                <div class="ms-auto">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">Settings</button>
                        <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
                            <a class="dropdown-item" href="javascript:;">Another action</a>
                            <a class="dropdown-item" href="javascript:;">Something else here</a>
                            <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end breadcrumb-->
            <div class="row">
                <div class="col-12 col-lg-12 mx-auto">
                    <div class="card radius-15">
                        {% if y %}
                        <div class="card-body">
                            <div class="chart-container1">
                                <canvas id="chart7"></canvas>
                            </div>
                        </div>
                        {% else %}
                                <p style="text-align: center">No Information</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!--end row-->
            <div class="card radius-15">
						<div class="card-body">
							<div class="card-title">
								<h6 class="mb-0">Follow_up calls </h6>
							</div>
							<hr/>
							<div class="table-responsive">
                            {% if follows %}
								<table class="table mb-0">
									<thead class="thead-dark">
										<tr>
											<th>Title</th>
											<th>Number</th>
										</tr>
									</thead>
									<tbody>
                                    {% for follow in follows %}
										<tr>
											<td>{% get_verbose_field_name follow "called_back" %}</td>
											<td>{{ follow.called_back }}</td>
										</tr>
										<tr>
											<td>{% get_verbose_field_name follow "responded" %}</td>
											<td>{{ follow.responded }}</td>
										</tr>
										<tr>
											<td>{% get_verbose_field_name follow "disclosed_not_tested" %}</td>
											<td>{{ follow.disclosed_not_tested }}</td>
										</tr>
										<tr>
											<td>{% get_verbose_field_name follow "disclosed_tested" %}</td>
											<td>{{ follow.disclosed_tested }}</td>
										</tr>
										<tr>
											<td>{% get_verbose_field_name follow "disclosed_result" %}</td>
											<td>{{ follow.disclosed_result }}</td>
										</tr>
                                        <tr>
											<td>{% get_verbose_field_name follow "disclosed_positive" %}</td>
											<td>{{ follow.disclosed_positive }}</td>
										</tr>
										<tr>
											<td>{% get_verbose_field_name follow "disclosed_negative" %}</td>
											<td>{{ follow.disclosed_negative }}</td>
										</tr>
                                        <tr>
											<td>{% get_verbose_field_name follow "gotten_result" %}</td>
											<td>{{ follow.gotten_result }}</td>
										</tr>
                                    {% endfor %}
									</tbody>
								</table>
                            {% else %}
                                <p style="text-align: center">No Information</p>
                            {% endif %}
							</div>
						</div>
					</div>
        </div>
    </div>
    <!--end page-content-wrapper-->
  </div>
{% endblock %}
{% block script %}
    <script>
        $(function () {
            // chart 7
            _y = {{y|safe}};
	        new Chart(document.getElementById("chart7"), {
		type: 'horizontalBar',
		data: {
			labels: ["Presumptive cases called back","Presumptive cases responded (reached?)","Presumptive cases reached who disclosed not tested",
                    "Presumptive cases reached who disclosed tested","Presumptive cases reached who did not disclose result","Presumptive cases reached who disclosed Positive",
                    "Presumptive cases reached who disclosed Negative", "Presumptive cases reached who has not gotten result"],
			datasets: [{
				label: "Followup Call",
				backgroundColor: ["#673ab7", "#32ab13", "#f02769", "#ffc107", "#198fed", "#ff80ff", "#999900", "#ff5500"],
				data: _y
			}]
		},
		options: {
			maintainAspectRatio: false,
            plugins: {
                datalabels: {
                  anchor: 'end',
                  align: 'end',
                  padding: 0,
                  offset: 4,

                }
              },
			legend: {
				display: false
			},
			title: {
				display: true,
				text: 'Followup Statistics for the Month'
			}
		}
	});
        });
      </script>
{% endblock %}